/* Add CSS here */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    position: relative;
}
input[type="range"]::before{
    content: '1,000';
    left: 0;
}
input[type="range"]::after {
    content: '10,000';
    right: 0;
}
input[type="range"]::after, input[type="range"]::before{
    position: absolute;
    font-size: 11px;
    margin-top: 15px;
}
/* chromne and whatever */
input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #e7815c, #e38d48);
    height: 6px;
    border-radius: 100px;
}

/* firefox */
input[type="range"]::-moz-range-track {
    background: linear-gradient(to right, #e7815c, #e38d48);
    height: 6px;
    border-radius: 100px;
}
/* knob/thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #fff;
    height: 18px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
