
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #8a8a96;
    color: #f0eee7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.wrapper{
    width: min(90%, 350px);
}

.first-section{
    background: linear-gradient(to bottom right, #1a1a1a, #141f23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;
}
svg{
    fill: #f0eee7;
    height: 2em;
    width: 2em;
    padding: .4rem;
    border: .4px solid #35a2e6;
    border-radius: 50%;
    cursor: pointer;
}

.thumbnail{
    width: 60%;
    height: 200px;
    box-shadow: 0 0 30px #0004;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.music-info{
    text-align: center;
    padding: 1rem;
}

.second-section{
    position: relative;
    padding: 1rem;
    background: linear-gradient(to bottom right, #2c2d2f, #1e3640);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.time-container{
    position: absolute;
    inset: 5px 5px auto auto;
    font-size: 11px;
}

.svgs{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.svgs svg{
    box-shadow: 0 2px 8px #0003;
}

.other-songs{
    height: 180px;
    overflow-y: scroll;
}
.song{
    padding: .7rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}